@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import 'mixins';

/* Override Wordpress official styles for login page */
.login {
  h1 {
    a {
      background-image: none;
      text-indent: 0%;
      font-size: 3rem;
      width: 100%;
    }
  }
}

* {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  color: #282828;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    margin: 0;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(241, 241, 241);
    background: linear-gradient(
      90deg,
      rgba(241, 241, 241, 1) 0%,
      rgba(255, 255, 255, 1) 98%
    );

    a {
      @include linkStyle();
      opacity: 1;
      transition: opacity 0.2s ease-in;

      &:hover {
        @include linkHover();
      }
    }

    @import 'components/header';

    main {
      display: flex;
      flex-direction: column;
      margin-bottom: 10em;

      /* HOMEPAGE */
      @import 'components/homepage/hero-section';
      @import 'components/homepage/history-section';
      @import 'components/homepage/classes-section';
      @import 'components/homepage/workouts-section';
      @import 'components/homepage/events-section';
      @import 'components/homepage/social-media-section';
    }

    .blog-section {
      h1 {
        font-size: 3rem;
      }
    }

    @import 'components/about-page';
    @import 'components/class&workout-page';
    @import 'components/contact-page';
    @import 'components/blog-post';
    @import 'components/events_posts/events&posts';
    @import 'components/single-event-page';

    hr {
      margin: 3em;
    }

    @import 'components/related-workout&class';
    @import 'components/comments-page';
  }

  .generic-content {
    /* SEARCH FORM WITH JS DISABLED */
    .search-form-container {
      @include searchForm(50%);
    }
  }
}

@import 'components/footer';
@import 'components/search';

.blog-section {
  margin-top: 7em;
  text-align: center;
}

@import 'responsive/media-queries';
