.posts-container {
  margin-bottom: 15em;

  .page-banner {
    margin-top: 10em;

    h1 {
      font-size: 3rem;
    }
  }

  .page-container {
    @include singleEventStyle();
  }

  .workout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6em;
    gap: 5em;

    .single-workout {
      position: relative;
      opacity: 0.8;
      transition: opacity 0.2s ease-in;

      .workout-card-image {
        width: 100%;
        max-width: 30em;
        height: auto;
        border-radius: 5px;
      }

      h3 {
        position: absolute;
        top: 30%;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 1.8rem;
        font-weight: bolder;
        color: white;
      }

      &:hover {
        cursor: pointer;

        opacity: 0.9;
      }
    }
  }

  .classes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6em;
    gap: 10em;

    .single-class-wrapper {
      position: relative;
      transition: opacity 0.2s ease-in;
      opacity: 0.8;

      h3 {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bolder;
        color: white;
      }

      .yoga {
        background-image: url('../images/yoga.jpg');
        background-size: cover;
        background-position: center;
        height: 30em;
        width: 25em;
        border-radius: 5px;
      }

      .zumba {
        background-image: url('../images/zumba.jpg');
        background-size: cover;
        background-position: center;
        height: 30em;
        width: 25em;
        border-radius: 5px;
      }

      .outdoor {
        background-image: url('../images/outdoor.jpg');
        background-size: cover;
        background-position: center;
        height: 30em;
        width: 25em;
        border-radius: 5px;
      }

      .cycling {
        background-image: url('../images/cycling.jpg');
        background-size: cover;
        background-position: center;
        height: 30em;
        width: 25em;
        border-radius: 5px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

  .page-banner {
    width: 100vw;
  }
}
