.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8em;
  padding-bottom: 10em;
  width: 100vw;
  gap: 6em;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      font-size: 3rem;
      margin-bottom: 2em;
    }

    .form-message {
      text-align: center;
      margin-top: -2em;
      font-weight: bold;
      color: darkblue;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5em;

      .form-controls {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        input,
        textarea {
          font-family: 'Lato', sans-serif;
          border-radius: 5px;
          margin-bottom: 1em;
          padding: 1em;
          border: 0;
          width: 100%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        textarea {
          resize: none;
        }
      }

      .submit-btn {
        padding: 1em;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        height: 4em;
        background-color: gainsboro;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        color: #282828;
        transition: background-color 0.2s ease-in;

        &:hover {
          @include buttonHover();
        }

        &:active {
          transform: translateY(-2px);
        }
      }
    }
  }

  /* MAP */
  .title {
    font-size: 3rem;
    text-align: center;
  }

  .map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;

    .hours {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .map-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;

      .mapp-layout {
        border: none;

        .mapp-wrapper {
          .mapp-content {
            display: flex;
            justify-content: center;
            align-items: center;

            .mapp-main {
              width: 80vw;
            }
          }
        }
      }
    }
  }
}
