@media (hover: hover) {
  a:hover {
    @include linkHover();
  }
}

/* MOBILE */
@media screen and (min-width: 320px) {
  html {
    min-height: 100%;
    min-width: 100%;
    font-size: 50%;

    @import 'mobile-menu';

    main {
      .history-section {
        .our-history {
          flex-direction: column;
          align-items: center;
        }
      }

      .homepage-feeds {
        .feed-container {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3em;
        }
      }
    }

    .posts-container {
      /* Workouts Page */
      .workout-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;

        a {
          width: 50%;
          height: 50%;
        }
      }
    }

    .page-container {
      .generic-content {
        .one-third {
          width: 70em;
          height: 40em;
        }
      }

      .link-list {
        margin-top: 4em;
        flex-direction: column;

        li {
          a {
            .related-post-container {
              .text-overlay {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .contact-wrapper {
      .map-wrapper {
        flex-direction: column;
      }
    }

    .search-overlay {
      .results-container {
        .row {
          flex-direction: column;
          align-items: center;

          .one-third {
            .single-event {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 374px) {
  html {
    font-size: 55%;
    header {
      .container {
        .main-navigation {
          ul {
            padding-top: 9em;
            gap: 6.5em;

            li {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 85%;

    header {
      .container {
        .hamburger {
          top: 15px;
        }

        #search-icon {
          top: 7.5px;
          left: 50px;
          font-size: 2.2rem;
        }

        .main-navigation {
          ul {
            gap: 7em;
          }
        }
      }
    }
  }
}

/* IPAD PRO 10.5" */
@media screen and (min-width: 834px) and (orientation: portrait) {
  html {
    header {
      .container {
        .main-navigation {
          ul {
            gap: 7.5em;
          }
        }
      }
    }
  }
}

/* DESKTOP & TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
  html {
    font-size: 90%;

    header {
      .container {
        .hamburger {
          visibility: hidden;
          display: none;
        }

        .logo {
          position: relative;
          top: 12px;
          right: 65px;
        }

        #search-icon {
          position: relative;
          font-size: 1rem;
          top: 27px;
          left: -60px;
          transition: transform 0.2s ease-in;

          &:hover {
            transform: scale(1.1);
          }
        }

        .main-navigation {
          position: relative;
          width: auto;
          min-height: 4em;
          top: 0;
          left: -40px;
          visibility: visible;
          opacity: 1;
          transform: initial;
          background-color: transparent;

          ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            gap: 3em;

            li {
              list-style-type: none;

              a {
                font-size: 0.9rem;

                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                  text-underline-offset: 8px;
                  text-decoration-thickness: 3px;
                }
              }
            }
          }
        }
      }
    }

    main {
      .history-section {
        .our-history {
          flex-direction: row;
        }
      }

      .homepage-feeds {
        .feed-container {
          flex-direction: row;
        }
      }
    }

    .posts-container {
      /* Workouts Page */
      .workout-wrapper {
        padding: 2em;
        flex-direction: row;
      }
    }

    .page-container {
      .link-list {
        flex-direction: row;

        li {
          a {
            .related-post-container {
              .text-overlay {
                opacity: 0;
                transition: opacity 0.2s ease-in;
              }
            }
            &:hover {
              .related-post-container {
                .text-overlay {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .search-overlay {
      .results-container {
        .row {
          flex-direction: row;
          align-items: initial;

          .single-event {
            gap: 2em;
          }
        }
      }
    }
  }
}

/* IPAD PRO 10.5" LANDSCAPE */
@media screen and (min-width: 1112px) {
  html {
    header {
      .container {
        #search-icon {
          left: -80px;
        }
      }
    }
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;

    header {
      .container {
        .logo {
          top: 13px;
          right: 80px;
        }

        #search-icon {
          top: 30px;
          left: -60px;
        }

        .main-navigation {
          right: 30px;

          ul {
            gap: 4em;
          }
        }
      }
    }

    .posts-container {
      .classes-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  header {
    .container {
      #search-icon {
        left: -70px;
      }

      .main-navigation {
        ul {
          li {
            margin-right: 2em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2074px) {
  html {
    header {
      .container {
        .logo {
          top: 12px;
          right: 125px;
        }

        #search-icon {
          left: -170px;
        }

        .main-navigation {
          ul {
            gap: 4em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2559px) {
  html {
    font-size: 150%;
    header {
      .container {
        .logo {
          top: 16px;
          right: 110px;
        }

        #search-icon {
          top: 42px;
          left: -120px;
        }
      }
    }
  }
}
